{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "bracketSameLine": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "htmlWhitespaceSensitivity": "ignore"
}